body {
    font-family: Helvetica, 'Lucida Grande', sans-serif;
    text-align: justify;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.titulo {
    color: #3D3D3D;
    background-color: #e1edf2;
    padding: 10px;
    font-size: 32px;
}

p,ul,ol,dl {
    font-size: 14px;
}

.subtitulo {
    border-bottom: solid 1px;
    font-weight: bold;
}

figure {
    background-color: whitesmoke;
    color: lightgrey;
    border: solid 1px darkgray;
    font-size: 14px;
    text-align: center;
    padding: 15px;
    margin: 30px;
}

a {
    text-decoration: none;
}

.matriz {
    width: 550px;
    margin-right: auto;
    margin-left: auto;
}

figure img {
    width: 100%;
}

.familia {
    width: 275px;
    float: right;
}

figcaption {
    margin-top: 10px;
}

ul {
    list-style: unset;
}

ol {
    list-style-type: square;
}

#logo {
    height: 100px;
    width: 300px;
}

address {
    font-size: 14px;
}

.contato__secao{

}

.contato__subtitulo{
    display: inline;
}

.contato__info{
    margin: 16px 0 24px;
    padding-left: 32px;
}

.contato__secao--telefone{

}

.contato__info--titulo{

}

.contato__info--descricao{

}